<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学生成绩管理</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <style>
      .regist{
        border: 1px solid #eee;
        padding: 0 20px 20px 20px;
  
        margin-top:30px;
        border-radius: 4px;
        box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
      }
      .regist h2{
        margin-bottom: 20px;
        font-size: 24px;
      }
      .strongBox {
        margin: 10px 0;
        padding: 5px 8px;
        font-size: 12px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">学生成绩管理</a>
        </div>
        
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav" style="margin-right:50px">
            <li class="active"><a href="#">本学期教学目标</a></li>
            <li><a href="/teacher/score_ctr">学生成绩录入</a></li>
            <li ><a href="/teacher/score_form">学生成绩表</a></li>
            <li><a href="/teacher/score_result">学期成绩报告</a></li>
            <li><a href="/teacher/score_rank">学生总成绩排名</a></li>
          </ul>
  
          <ul class="nav navbar-nav" style="margin-right:50px">
            <li ><a href="teacher/myself"  target="_blank">欢迎您 <%= username %> 老师 </a></li>
            <li ><a href="/t_login"> 退出</a></li>
          </ul>
        </div>
      </div>
    </nav>


    <input type="text" id="id">
    <table>
        <thead>

        </thead>
        <tbody id="tbody">

        </tbody>
    </table>
  
    <script src="http://localhost:3000/js/jquery.min.js"></script>
    <script>
    </script>
</body>
</html>

<script>
    function load(){
        $.ajax({
        type:"GET",
        url :"/admin/get_data",
        data:{"data":$("#id").val()},
        success:function(d){
            $("#tbody").empty();
            for(var i in d.d){
                $("#tbody").append(`
                 <tr>
                    <td>${d.d[i].name}</td>
                    <td>
                        
                        <button class="del" data-name=${d[i].name}>删除</button>
                    </td>
                </tr>
                `)
            }
        }
    })
}
load();


$("#tbody").delegate(".del","click",function(){
    $.ajax({
        type:"post",
        url : "/admin/get_data",
        data : {"name":$(this).data("name")},
        success:function(data){
            if(data.status == 1){
                alert("shangchu ok ");
                load();
            }
        }
    })
})
</script>